.contact {
    height: 100vh;
    padding-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url(../img/standing.jpg) center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    h3 {
      font-size: 1rem;
    }
    &--display {
      display: flex;
      flex-direction: row;
      max-width: 70%;

    }
    &--list {
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-right: 2rem; 
      }

  }
  .form_box {
    min-width: 50%;
    z-index: 3000;
}

.contact--email, .contact--phone, .contact--address {
  margin-bottom: 1.5rem;
}
.contact--title{
  margin-bottom: .5rem;
}
.form_box form {
    display: flex;
    flex-direction: column;
}
.form_box form h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.form_box form input,
.form_box form textarea {
    margin: .5rem 0;
    padding: 15px;
    font-size: 16px;
    background: #222;
    color: #fff;
    border: none;
    outline: none;
    resize: none;
}
.form_box form textarea {
    min-height: 100px;
    height: 50px;
}
.form_box form input::placeholder,
.form_box form textarea::placeholder {
    color:#999;
}
.form_box form input[type="submit"] { 
    color: #fff; 
    background: $secondary-color;
    border-radius: 0.5rem;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid $secondary-color;
}
.form_box form input[type="submit"]:hover{
  background: transparent;
  border: 2px solid $secondary-color;
}
.contact_info {
  min-width: 50%;
}
.contact_info_box {
  position: relative;
}
.contact_info_box .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact_info_box .icon {
  display: flex;
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 24px;
}
.contact_info_box .text {
  display: flex;
  font-size: 16px; 
  margin-left: 15px;
  flex-direction: column;
}
.contact_info_box .text h3 {
  padding-bottom: 10px;
}
@media (max-width: 900px){
  .contact{
        &--display {
          display: flex;
          flex-direction: column;
        }
           }
           main .social--icons {
             display: flex;
             flex-direction: column;
           }
           
           footer {
            transform:
             rotate(90deg)
            translate(-3rem, -5rem);
        }
       }
       
  
  // @media (max-width: 600px){
  //    .contact{
  //        background: linear-gradient(
  //            to right,
  //            rgba($primary-color, 0.9),
  //            rgba($primary-color, 0.3)
  //            ),
  //            url(../img/home.jpg) center -50px;
  //            background-size: cover;
  //         }
  //     }
  